@model ApplicationLayer.Dtos.ProductDtos.Detail_ProductDetailDto
@Model.Id
@Model.Title
@Model.UnitPrice
@Model.Price
@Model.ProductCategoryId
<br />
<a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back</a>